Django==1.4.2
PIL==1.1.7
South==0.7.6
distribute==0.6.31
dj-database-url==0.2.1
django-jsonfield==0.8.12
django-picklefield==0.2.1
django-sms-gateway==1.2.0
django-uuidfield-2==0.6.5
django-classy-tags==0.3.4.1
django-cms==2.3.4
django-feedback==0.4
django-mptt==0.5.2
django-sekizai==0.6.1
html5lib==0.95
httplib2==0.7.7
psycopg2==2.4.5
python-dateutil==2.1
simplejson==2.6.2
six==1.2.0
wsgiref==0.1.2
