<html>
<head>
    <title>Jipange :: Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="content">
        <h1>Jipange</h1>
        <ul>
            <li><a href="/teaching">Teaching</a></li>
            <li><a href="/clinics">Clinics</a></li>
            <li><a href="/feecback">Feedback</a></li>
        </ul>
        <hr>
        <h4>How to use SMS</h4>
        <p>Jipange can receive feedback and questions you send in through SMS. Messages should be sent to <a href="sms:{{inbound_number}}?body={{inbound_pin}}" class="sms_link">{{inbound_number}}</a>{% if inbound_pin %} and must include the PIN {{inbound_pin}} at the beginning{% endif %}.</p>
        <p>If you want to receive news updates via SMS, ask a representative to add you to a list.</p>
        <footer>
            <a href="/admin">Log in to Admin Site</a>
        </footer>
    </div>
</body>
</html>